@import "tailwindcss";

@theme {
    /* Fonts */
    --font-heading:'Abril Fatface', serif;
    --font-base: system-ui, sans-serif;

    /* Colors */
    --color-primary: #76B201;
    --color-primary-foreground: #FFFFFF;
    --color-secondary: #0268A2;
    --color-secondary-foreground: #FFFFFF;
        
    --color-background: var(--color-neutral-50);
    --color-background-accent: var(--color-neutral-900);

    --color-foreground: #262623;
    --color-foreground-light: #A1ACAD;
    --color-foreground-contrast: #545450; 

}

@layer utilities {
    .has-separator::after {
        content: '';
        display: block;
        width: 80px;
        height: var(--separator-size, 2px);
        background-color: var(--separator-color, var(--color-accent));
        margin-top: 1em;
    }
}