@import 'tailwindcss';

@theme {
  /* Fonts */
  --font-heading: 'Abril Fatface', serif;
  --font-base: system-ui, sans-serif;

  /* Colors */
  --color-primary: #76b201;
  --color-primary-foreground: #ffffff;
  --color-secondary: #0268a2;
  --color-secondary-foreground: #ffffff;
  --color-tertiary-foreground: #666;

  --color-background: var(--color-neutral-50);
  --color-background-accent: var(--color-neutral-900);

  --color-foreground: #262623;
  --color-foreground-light: #a1acad;
  --color-foreground-contrast: #545450;
}

@layer base {
  h1,
  h2,
  h3 {
    font-family: var(--font-heading);
    line-height: 1.1;
    padding-bottom: 1rem;
  }
  h1 {
    font-size: clamp(1.7rem, 0.075rem + 5.2vw, 3rem);
  }
  h2 {
    font-size: clamp(1.3rem, 0.075rem + 5.2vw, 2.3rem);
    font-weight: normal;
  }
  h3 {
    font-size: clamp(1.05rem, 0.075rem + 5.2vw, 1.9rem);
    font-weight: normal;
  }
  h4 {
    font-family: var(--font-base);
    font-size: clamp(1.05rem, 0.075rem + 5.2vw, 1.9rem);
    font-weight: normal;
    color: var(--color-tertiary-foreground);
  }
  /* text */
  body {
    font-family: var(--font-base);
    font-size: clamp(1rem, 0.8125rem + 0.6vw, 1.15rem);
    line-height: 1.5;
    color: var(--color-foreground);
  }

  p + p {
    margin-top: 1em;
  }
  /* misc */
  hr {
    margin-block: 2rem;
    border-color: var(--color-gray-300, #ccc);
  }
  /* links */
  main a {
    text-decoration: underline;
    color: inherit;
    transition: color 0.3s ease;
  }
  main a:hover {
    color: var(--color-primary);
  }
}

@layer utilities {
  .has-separator::after {
    content: '';
    display: block;
    width: 80px;
    height: var(--separator-size, 4px);
    background-color: var(--separator-color, var(--color-primary));
    margin-top: 1em;
  }
}
