---
import LinkFooter from './LinkFooter.astro';
import InfoFooter from './InfoFooter.astro';
import SupportFooter from './SupportFooter.astro';
import CopyrightFooter from './CopyrightFooter.astro';

import LinkDatas from '../data/link.json';

---
<footer class="block w-full p-3 font-base">
    <div class="place-self-center max-w-7xl my-auto md:flex">
        <LinkFooter link={LinkDatas} />
        <InfoFooter />
        <SupportFooter />
    </div>
    <CopyrightFooter/>
</footer>