---
import "../styles/global.css";
import Social from "./Social.astro";


---

<div class="px-3 mb-11 box-border w-full">
    <h4 class="text-title text-base font-bold my-4">Association Fleurs & Jardins</h4>

    <div class="italic text-base color-text leading-7">
        <p>Rue B. Chedeville – 27100 Le Vaudreuil (27)</p>
        <a class="underline" href="tel:02 32 61 27 85">Tél. 02 32 61 27 85</a>
    </div>

    <a class="block cursor-pointer underline hover:bg-color text-base color-text" href="mailto:salonfleursetjardins@levaudreuil.fr">Nous écrire</a>
    
    <h4 class="text-title text-base font-bold my-4">Retrouvez-nous également sur</h4>
    
    <ul>
        <li><Social platform="facebook" username="levaudreuil.fr"/></li>
        
    </ul>
</div>
