---
import Logo from "./Logo.astro";
import NavigationLink from "./NavigationLink.astro";
import { siteConfig } from "../config";
import Burger from "./Burger.astro";
---

<nav class="flex">
  <div class="hidden md:flex text-center justify-items-end gap-10">
    {
      siteConfig.mainMenu.map((link) => (
        <NavigationLink
          url={link.url}
          title={link.title}
          description={link.description}
        />
      ))
    }
  </div>
</nav>
